:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
a {
  text-decoration: none;
}

.header-container {
  margin: 0 auto;
  padding: 0 15px;
}

.nav-link {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: var(--iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav .logo {
  margin-right: 76px;
}

.logo-span {
  color: var(--navy-blue);
}

address {
  font-style: normal;
}

.contacts-link {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

.hero-section {
  background-color: var(--navy-blue);
  color: var(--white);
  text-align: center;
  padding: 188px 0;
}

.hero-section__title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
  font-weight: 700;
}

.hero-section__button {
  background-color: var(--iris);
  color: var(--white);
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-section__button:hover,
.hero-section__button:focus {
  background-color: var(--ocean);
}

main > section {
  padding: 120px 0;
}

.section-title {
  margin: 0 0 72px 0;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-transform: capitalize;
}

.features-item {
  width: 264px;
}

.features-title {
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.features-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.team {
  background-color: var(--cloud);
}

.team-card {
  width: 264px;
  background-color: var(--white);
  text-align: center;
}

.team-card .features-title {
  margin: 32px 0 8px 0;
}

.team-card .features-text {
  margin: 0 0 32px 0;
}

.portfolio-card {
  width: 360px;
}

.portfolio-card h3 {
  margin: 32px 16px 8px 16px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-card p {
  margin: 0 16px 32px 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--navy-blue);
  color: var(--cloud);
  padding: 100px 0;
}

.footer-container {
  padding: 0 15px;
}

.footer-container .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-container .logo-span {
  color: var(--cloud);
}

.footer-text {
  max-width: 264px;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
